.background {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  background: rgba(207,207,207,0.6)
}

.contents {
  height: 80%;
  width: 80%;
  max-width: 500px;
  margin-top: 50px;
  position: relative;
  overflow: scroll;
  background: #FAF6FE;
  border-radius: 20px;
  opacity: 1;
}